* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #2B292E;
    color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

button {
    cursor: pointer;
}

/* Container */

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* Header */

.header {
  background: #0074c2;
  color:white;
  padding: 1.6rem 0;
}

.header__title {
  font-size: 3.2rem;
  margin-bottom: .4rem;
}

.header__subtitle {
  font-size: 1.6rem;
  font-weight: 300;
}

.button {
    background: #7044a0;
    border: none;
    border-bottom: 2px solid #603a88;
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .8rem;
    transition: background .3s ease, color .3s ease;
}

.button:hover {
    background: #5F3A87;
}

.button--secondary {
    background: #888888;
    border-bottom: 2px solid #717171;
}

.button--secondary:hover {
    background: #6E6E6E;
}

.button--text {
    background: none;
    border: none;
    color: #aaa;
    font-size: 1.7rem;
    font-weight: bold;
}

.button--text:hover {
    background: none;
    color: white;
    text-decoration: underline;
}


/* List Item */

.list-item {
    width: 70rem;
    text-decoration: none;
    color: #fafafa;
    background: #353239;
    border: 1px solid #423e47;
    margin: 1.6rem 0;
    padding: 1rem 1.6rem;
    display: block;
    transition: background .3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.list-item__container {
    display: flex;
    font-size: 1.8rem;
    font-weight: 300;
    align-items: center;
}

.list-item__container > *:first-child {
    margin-right: 1rem;
}

.list-item:hover {
    background: #3d3941;
}

.list-item__title {
    font-size: 1.8rem;
    margin-bottom: .4rem
}

.list-item__subtitle {
    color: #666;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
}

.list-title {
    margin: 3.2rem 0 1.6rem;
}

.empty-message {
    margin: 3.2rem 0;
}

.image-preview {
    width: 150px;
    height: 91px;
    object-fit: none;
    object-position: 50% 35%;
}

.title {
    font-size: 3rem;
    font-weight: bold;
}

.text {
    font-size: 1.6rem;
}

.tag {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    font-weight: bold;
}

.index-number {
    font-size: 4rem;
    padding: 0rem 3.2rem;
    font-weight: bold;
}

p span {
    display: block;
  }

.menu {
    color: #dddddd;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1.2rem 2rem 0rem 1rem;
    cursor: pointer;
    display: inline-block;
}

.menu:hover {
    background: none;
    color: white;
    text-decoration: underline;
}

.gallery-image-preview {
    width: 150px;
    height: 91px;
    object-fit: none;
    object-position: 50% 35%;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 0rem
}

.gallery-item-container {
    width: 15rem;
    margin: 2rem 1rem 0rem 0rem;
    padding: .5rem 0rem .5rem 0rem;
    text-decoration: none;
    color: #fafafa;
    background: #353239;
    border: 1px solid #423e47;
}

.gallery-index-number {
    font-size: 2rem;
    padding: 0rem 1.5rem;
    font-weight: bold;
    color:#aaaaaa
}

.gallery-title {
    font-size: 2rem;
    padding: 0rem 0.5rem;
    font-weight: bold;
}

.gallery-text {
    font-size: 1.4rem;
    padding: 0rem 0.5rem;
}

.gallery-tag {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
}